$s:640px;
$m:1024px;
$l:1280px;
$xl:1536px;
$xxl:1920px;

$breakpoints: (
  'xs': '(max-width: #{$s - 1px})',
  's': '(min-width: #{$s}) and (max-width: #{$m - 1px})',
  'm': '(min-width: #{$m}) and (max-width: #{$l - 1px})',
  'l': '(min-width: #{$l}) and (max-width: #{$xl - 1px})',
  'xl': '(min-width: #{$xl}) and (max-width: #{$xxl - 1px})',
  'xxl': '(min-width: #{$xxl})',
  's-up': '(min-width: #{$s})',
  'm-up': '(min-width: #{$m})',
  'l-up': '(min-width: #{$l})',
  'xl-up': '(min-width: #{$xl})',
  'xxl-up': '(min-width: #{$xxl})',
  's-down': '(max-width: #{$s})',
  'm-down': '(max-width: #{$m})',
  'l-down': '(max-width: #{$l})',
  'xl-down': '(max-width: #{$xl})',
  'xxl-down': '(max-width: #{$xxl})',
  
  'phone': '(max-width: #{$m})',
  'pc': '(min-width: #{$m + 1px})',
);

/* 响应式布局 */
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}